<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="NxUEwOAbRitNU7Xx7eUBUDdKjIo2V5Yf4rJc9S3hPHbuy+WxNhWwzoLwVp+xtCWV8Lw4zv0D9ZFs5FVPLHqRpK9f2XRVsAy1TselylCTWt+2BLsAP6GJ6pP72+yQdxqFq3nQMk4tYDaWK0Mh8C1/+7O1adFu8szAVkOS5TwgNE5QRLAvT4fq6EM4J+YnBVH+nHf5Dm3vifeZnMX4ZSm95oIiRUGvJ/dL+yIyYy2uEbA=" />
    <add key="ApplicationId" value="A7C2A343-3715-483C-BAA5-A22346114A80" />
    <add key="tipp_server_msq" value="FormatName:Direct=OS:DESKTOP-K1CAL2T" />
    <add key="FromEmail" value="dbsnholeni4@gmail.com" />
    <add key="FromEmailName" value="Tipp Focus Academy" />
    <add key="FromPassword" value="TC7LkM5AlzrU0MaprIp21RRUQ8YeP9TgFQ7QvaWfKqE=" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPServerPort" value="587" />
    <add key="RequiredDocumentLetter" value="Required Document(s)" />
    <add key="AcademicRecordTemplate" value="\\Template\\AcademicRecords.html" />
    <add key="rungraduationtime" value="00:00:00" />
  </appSettings>
</configuration>