<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <style type="text/css">
        .auto-complete {
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            z-index: 1000;
            position: absolute;
            background-color: white;
        }
    </style>

    <script type="text/javascript">



        function getLabelHeader(headers) {

            var header_arr = new Array();

            $.each(headers, function (key, value) {
                header_arr.push({ Value: key, Text: value });
            });

            return header_arr
        }

        function contains(sarchedString, searchItem) {

            if (sarchedString.toLowerCase().indexOf(searchItem.toLowerCase()) >= 0) {
                return true;
            }

            return false;
        }

        $.fn.extend({
            autocomplete: function (param) {

                $(this).bind("keyup", function () {

                    if ($(this).val() != "") {
                        var search_value = $(this).val();
                        $(this).parent().find(".auto-complete").each(function (index) { $(this).remove(); });

                        var lst_all_headers = getLabelHeader(param.headers),
                            div_autocomplete = $(document.createElement("div")),
                            tbl_autocomplete = $(document.createElement("table")),
                            tbl_autocomplete_header = $(document.createElement("thead")),
                            tbl_autocomplete_t_row = $(document.createElement("tr"));
                        div_autocomplete.addClass("auto-complete");
                        tbl_autocomplete.addClass("table");
                        tbl_autocomplete.css("width", "95%");
                        tbl_autocomplete.css("left", "2.5%");
                        tbl_autocomplete.css("position", "relative");
                        tbl_autocomplete_header.append(tbl_autocomplete_t_row);
                        for (var header in lst_all_headers) {
                            var row_th = $("<th>" + lst_all_headers[header].Text + "</th>");
                            tbl_autocomplete_t_row.append(row_th);
                        }

                        tbl_autocomplete.append(tbl_autocomplete_header);
                        div_autocomplete.css("width", $(this).width() + "px");
                        div_autocomplete.append(tbl_autocomplete);
                        
                        var tbl_body_autocomplete = $(document.createElement("tbody"));
                        var atleast_exist = false;
                        for (var row in param.data) {

                            var tbl_row_autocomplete = $(document.createElement("tr")),
                                data_row = getLabelHeader(param.data[row]);

                            tbl_row_autocomplete.bind("mouseenter", function (e) {
                                $(this).css("background-color", "silver");
                                $(this).css("cursor", "pointer");
                                $(this).bind("click", function () {
                                    var selected_row = this.getElementsByTagName("td");
                                    document.getElementById("search_value").value = $(selected_row[0]).text();
                                    document.getElementById("search_text").value = $(selected_row[2]).text();
                                    $(this).parent().parent().parent().parent().find(".auto-complete").each(function (index) { $(this).remove(); });
                                });
                            });

                            tbl_row_autocomplete.bind("mouseout", function (e) {
                                $(this).css("background-color", "");
                                $(this).unbind("click");
                            });
                            var is_campare = false;
                            var exist = false;
                            for (var key in data_row) {
                                if (param.comparer == data_row[key].Value) {
                                    is_campare = contains(data_row[key].Text, search_value);
                                    if (is_campare == true) {
                                        exist = true;
                                    }
                                }
                                $("<td>" + data_row[key].Text + "</td>").appendTo(tbl_row_autocomplete);
                            }
                            if (exist == true) {
                                atleast_exist = exist;
                                tbl_body_autocomplete.append(tbl_row_autocomplete);
                            }
                        }
                        if (atleast_exist == true) {
                            tbl_body_autocomplete.appendTo(tbl_autocomplete);

                            $(this).parent().append(div_autocomplete);
                        }
                    }
                    else {
                        $(this).parent().find(".auto-complete").each(function (index) { $(this).remove(); });
                    }
                });
            }
        });

        $(document).ready(function () {
            $("#search_text").autocomplete({
                comparer: "UnitName",
                headers: { ID: "#", UnitID: "Unit ID", UnitName: "Unit Name", NQFLevel: "NQF Level" },
                data: [{ ID: 1, UnitID: "00002", UnitName: "Physics", NQFLevel: 4 }, { ID: 2, UnitID: "00003", UnitName: "Mathematics", NQFLevel: 4 }, { ID: 3, UnitID: "00004", UnitName: "Biology", NQFLevel: 4 }]
            });
        });

    </script>
</head>
<body font="13" style="font-family: Arial;">
    <div class="container">
        <div class="form-group">
            <input type="hidden" id="search_value" class="form-control" />
            <input type="search" id="search_text" class="form-control" />
            <!--<button type="submit" class="btn btn-info" id="btnSubmit">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>-->
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <input type="search" class="form-control" />
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <input type="search" class="form-control" />
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <input type="search" class="form-control" />
        </div>
    </div>
</body>
</html>