@using BusinessSchoolMLS.Controls;
@using BusinessSchoolMLS.SchoolBusinessComponent;
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = "Online Questionnaire";
    LoginBusinessComponent loginBusinessComponent = new LoginBusinessComponent();
    int MemberID = loginBusinessComponent.GetMemberIDByMemberGuid(ViewBag.MemGuid);
    int ActivityID = ViewBag.ActivityID;
    HtmlGenerator htmlGenerator = new HtmlGenerator(MemberID, ActivityID);
    HtmlString htmlString = new HtmlString(htmlGenerator.GetGeneratedHtmlBody());
}

<div>
    &nbsp;
</div>
<div>
    <h2 style="color: #6d2829;">Program Unit Online Question(s)</h2>
</div>

<div>
    @using (Html.BeginForm("SaveActivityMemberAnswer", "OnlineQuestionnaire", FormMethod.Post))
    {

        <input type="hidden" name="mid" id="mid" value="@ViewBag.MemGuid" />
        <input type="hidden" name="aid" id="aid" value="@ActivityID" />
        <div class="business-school-control-form-body">
            @htmlString
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    }
</div>