@using BusinessSchoolMLS.SchoolBusinessComponent;
@using MRTD.Core.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application successfull</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!--<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />-->
    </environment>
    <style type="text/css">
        .tipp-header {
            color: #6d2829;
        }

        .tipp-label {
            color: #377091;
        }

        .tipp-input-field {
            width: 85%;
        }

        .tipp-container {
            width: 100%;
            display: inline-block;
        }

        .tipp-left-align {
            width: 15%;
            display: inline-block;
        }

        .tipp-middle-align {
            width: 60%;
            display: inline-block;
        }

        .tipp-right-align {
            width: 15%;
            display: inline-block;
        }

        .tipp-error-message {
            color: red;
            width: 100%;
            text-align: left;
            display: none;
        }

        .tipp-btn-default {
            width: 120px;
            color: #6d2829;
        }

        .tipp-btn-container {
            width: 100%;
            left: 5%;
            position: relative;
            text-align: center;
        }

        .tipp-redirect-link {
            color: #377091;
        }

        a {
            color: #377091;
        }

        .tipp-logo {
            padding-top: 0px;
            top: 5px;
            position: absolute;
        }

        .tipp-logo-botton-line {
            background-color: #377091;
            width: 100%;
            height: 10px
        }

        .tipp-top-heading {
            top: 80px;
            position: absolute;
            width: 75%;
        }

        .tipp-custom-button {
            width: 140px;
            color: #ffffff !important;
            background-color: #377091 !important;
        }

        .tipp-custom-grid-button {
            width: 100px;
            color: #ffffff !important;
            background-color: #377091 !important;
        }

        label {
            color: #377091 !important;
        }

        thead > tr {
            color: #ffffff !important;
            background-color: #377091 !important;
        }

        .tipp-redirect-link {
            color: #377091 !important;
        }
    </style>
</head>
<body>
    <div class="tipp-top-heading">
        <div>
            <h4 class="tipp-header">Application Successfull</h4>
        </div>
        <div>
            <p>You have successfull completed registration form. We will comeback to after your documents has been verified.</p>
        </div>
    </div>
</body>
</html>
