@using BusinessSchoolMLS.SchoolBusinessComponent;

@{
    Layout = null;

    ApplicationBusinessComponent applicationBusinessComponent = new ApplicationBusinessComponent();
    var lst_all_prer = applicationBusinessComponent.GetAllPrereqByQualificationID(ViewBag.QualId);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Required Documents Upload</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!--<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />-->
    </environment>
    <style type="text/css">
        .tipp-banner
        {
            left: 25%;
            position: relative;
            top: -20px;
            width: 60%;
        }
        .tipp-header {
            color: #6d2829;
        }

        .tipp-progressbar{
            left: 25%;
            position: relative;
        }

        .tipp-label {
            color: #377091;
        }

        .tipp-input-field {
            width: 85%;
        }

        .tipp-container {
            width: 100%;
            display: inline-block;
        }

        .tipp-left-align {
            width: 15%;
            display: inline-block;
        }

        .tipp-middle-align {
            width: 60%;
            display: inline-block;
        }

        .tipp-right-align {
            width: 15%;
            display: inline-block;
        }

        .tipp-error-message {
            color: red;
            width: 100%;
            text-align: left;
            display: none;
        }

        .tipp-btn-default {
            width: 120px;
            color: #6d2829;
        }

        .tipp-btn-container {
            width: 100%;
            left: 10%;
            position: relative;
            text-align: left;
        }

        .tipp-redirect-link {
            color: #377091;
        }

        a {
            color: #377091;
        }
        .tipp-logo-botton-line
        {
            background-color: #377091; 
            width: 100%; 
            height: 10px
        }
        .tipp-logo
        {
            padding-top: 0px;
            top: 5px; 
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="tipp-banner">
        <img src="~/tipp-academy-logo.png" width="160" height="45" />
        <div class="tipp-logo-botton-line">
            &nbsp;
        </div>
    </div>
    <div class="container">
        <div class="tipp-btn-container">
            <div class="tipp-middle-align">
                <h4 class="tipp-header">Required Documents Upload</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%;">
                        2 of 5 steps
                    </div>
                </div>
                <div>
                    <p style="color: red;">
                        *Please upload the scanned required document(s) or open the mail that will be sent to your provided e-mail and upload from there.
                    </p>
                </div>
                @using (Html.BeginForm("SaveRequiredUpload", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="MemberID" value="@ViewBag.MemGuid" />
                    @foreach (var pre in lst_all_prer)
                    {
                        <div class="form-group">
                            <label for="@pre.FileControlName" class="tipp-label">@pre.UploadTypeName</label>
                            <input type="file" name="@pre.FileControlName" class="form-control tipp-input-field" />
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-default tipp-btn-default" />
                    </div>
                }
            </div>
            <div class="tipp-right-align">
            </div>
        </div>
    </div>
</body>
</html>
