@using BusinessSchoolMLS.SchoolBusinessComponent;
@using MRTD.Core.Models;

@{
    ViewData["Title"] = "Graduations";
    Layout = "~/Views/Shared/_Layout.cshtml";

    FacultyBusinessComponent businessComponent = new FacultyBusinessComponent();
    List<FacultyQualModel> models = businessComponent.GetAllFacultyQualificationByFacultyID(8);
}
<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }

    .tipp-custom-button {
        width: 140px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-custom-grid-button {
        width: 100px;
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    label {
        color: #377091 !important;
    }

    thead > tr {
        color: #ffffff !important;
        background-color: #377091 !important;
    }

    .tipp-redirect-link {
        color: #377091 !important;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-header">Program Graduations</h4>
    </div>
    <div style="display: inline-block; width: 100%;">
        <div style="display: inline-block; width: 40%;">
            <label for="drpQualification" class="tipp-label">Tipp Academy Qualification</label>
            <br />
            <select name="drpQualification" id="drpQualification" class="form-control">
                <option value="0"></option>
                @foreach (FacultyQualModel faculty in models)
                {
                    <option value="@faculty.QualificationID">@faculty.QualificationName</option>
                }
            </select>
        </div>
        <div style="display: inline-block; width: 40%;">
            <label></label>
            <br />
            <button type="button" class="btn btn-primary tipp-custom-button" id="viewlist">
                <span class="glyphicon glyphicon-list"></span> View List
            </button>
        </div>
    </div>
    <div><br /></div>
    <div id="tippStudentProgramGraduation" style="display: none; ">
        <table id="tippProgramGraduation" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Identity No</th>
                    <th>Cell No</th>
                    <th>Program Name</th>
                    <th>Program Code</th>
                    <th>Date Completed</th>
                </tr>
            </thead>
            <tbody id="graduation"></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        
        $("#viewlist").bind("click", function () {
            $.get("/SchoolFaculty/GetAllMemberDueForGraduationQualificationID?qid=" + $("#drpQualification").find("option:selected").val(), function (data) {
                $("#graduation").html(data);
                $("#tippStudentProgramGraduation").show();
                $("#tippProgramGraduation").DataTable({});
            });
        });
    });

</script>
