
@using MRTD.Core.Common;
@using BusinessSchoolMLS.SchoolBusinessComponent;

@{
    ViewData["Title"] = "Programs";
    string mguid = ViewBag.MemGuid;
    var facultyComponent = new FacultyBusinessComponent();
    var lst_all_faculties = facultyComponent.GetAllBusinessFaculty(Session.AppSession["ClientId"].ToString());
}
<style type="text/css">
    .tipp-header {
        color: #6d2829;
    }

    .tipp-label {
        color: #377091;
    }

    .tipp-input-field {
        width: 85%;
    }

    .tipp-container {
        width: 100%;
        display: inline-block;
    }

    .tipp-left-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-middle-align {
        width: 60%;
        display: inline-block;
    }

    .tipp-right-align {
        width: 15%;
        display: inline-block;
    }

    .tipp-error-message {
        color: red;
        width: 100%;
        text-align: left;
        display: none;
    }

    .tipp-btn-default {
        width: 120px;
        color: #6d2829;
    }

    .tipp-btn-container {
        width: 100%;
        left: 5%;
        position: relative;
        text-align: center;
    }

    .tipp-redirect-link {
        color: #377091;
    }

    a {
        color: #377091;
    }

    .tipp-logo {
        padding-top: 0px;
        top: 5px;
        position: absolute;
    }

    .tipp-logo-botton-line {
        background-color: #377091;
        width: 100%;
        height: 10px
    }

    .tipp-top-heading {
        top: 80px;
        position: absolute;
        width: 75%;
    }
</style>
<div class="tipp-top-heading">
    <div>
        <h4 class="tipp-header">Tipp Connect Programs</h4>
    </div>
    <div>
        <table id="tippProgramTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Program ID</th>
                    <th>Program Name</th>
                    <th>Program Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var faculty in lst_all_faculties)
                {
                    <tr>
                        <td>@faculty.FacultyID</td>
                        <td>@faculty.FacultyName</td>
                        <td>@faculty.FacultyDescription</td>
                        <td align="center">@Html.ActionLink("Add Program", "FacultyQualification", "SchoolFaculty", new { mid = mguid, fid = faculty.FacultyID })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tippProgramTable").DataTable({});
    });
</script>